.rooms {
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  width: 60%;
}
.rooms__form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  height: 730px;
  margin: auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.rooms__form-title {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}
.room-btn--enter {
}
.room-btn--enter button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.rooms__section-list {
  height: 600px;
  font-size: 22px;
}
.rooms__section .rooms__section-list ul {
  display: block;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: auto;
}
.rooms__section .rooms__section-list ul li {
  padding: 10px;
  font-size: 22px;
  list-style: none;
  background-color: #d4e5ce;
  margin: 10px 0;
}
.room-btn--add {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe94a;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 70px;
  font-size: 20px;
  color: #523737;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: color 0.3s, background 0.3s, transform 0.5s ease-in-out;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8dc26f);
  background: -moz-linear-gradient(right, #76b852, #8dc26f);
  background: -o-linear-gradient(right, #76b852, #8dc26f);
  background: linear-gradient(to left, #76b852, #8dc26f);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
